<template>
  <v-flex xs12 sm12 md12 lg12 my-3>
    <div>Select Rights:</div>
    <v-checkbox v-model="selectAll" label="Select All"/>
    <v-layout row wrap class="ml-3">
      <v-flex lg4 md4 sm6 xs12 v-for="(item) in items" :key="item">
        <v-checkbox v-model="selected" multiple :value="item" :label="item"/>
      </v-flex> 
    </v-layout>
  </v-flex>
</template>

<script>
  import Global from '~/plugins/mixins/global'

  export default {
    data: () => ({
      selected: [],
      items: [
        'Can Read',
        'Can Edit',
        'Can Delete',
        'Can Email',
        'Can Print',
        'Can Download',
        'Can Batch Upload and Sign',
        'Can Update Metadata',
        'Can Notify'
      ]
    }),
    mixins: [Global],
    computed: {
      selectAll: {
        get () {
          return this.items ? this.selected.length === this.items.length : false
        },
        set (value) {
          let selected = []
          if (value) {
            this.items.forEach(function (item) {
              selected.push(item)
            })
          }
          this.selected = selected
        }
      }
    }
  }
</script>