<template>
  <v-layout row wrap>
    <v-flex lg12 md12 sm12 xs12>
      <v-card class="my-2">
        <v-layout row wrap 
            class="mx-3">
          <v-flex lg9 class="pr-3">
            <v-text-field
            placeholder="Search Role"
            @keyup.enter=""
            v-model="form.search"/>
          </v-flex>
          <v-flex lg3>
            <v-layout row wrap class="h-100">
              <v-flex lg6 class="my-auto">
                <!-- <role-list-filter /> -->
              </v-flex>
              <v-flex lg6 class="my-auto">
                <v-btn 
                  class="ma-0"
                  color="addColor"
                  dark
                  depressed 
                  small 
                  block
                  @click="addRole"
                  >
                  ADD
                </v-btn>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import Global from '~/plugins/mixins/global'

  export default {
    data: () => ({
      form: {
        search: ''
      }
    }),
    mixins: [Global],
    methods: {
      addRole () {
        this.goTo('addrole')
      }
    }
  }
</script>