<template>
  <v-layout v-if="!loading">
    <no-ssr>

      <navbar 
        :items="navbar"
      />

      <!-- <toolbar
        :users="user"
        :choices="choices"
      /> -->
      <toolbar
        :choices="choices"
      />

      <nuxt-child />

    </no-ssr>
  </v-layout>
</template>

<script>
  import Global from '~/plugins/mixins/global'
  import { mapGetters } from 'vuex'
  // import _ from 'lodash'

  export default { data: () => ({
    drawer: null,
    choices: [
      { title: 'Log out', goTo: '/logout' }
    ],
    navbar: [
      { icon: 'dashboard', text: 'Dashboard', goTo: '/dashboard' },
      { icon: 'devices',
        text: 'Digitize',
        items: [
          { icon: 'library_add', text: 'Check-In', badge: false, goTo: '/dashboard/digitize/checkin' },
          { icon: 'view_list', text: 'Metadata Records', badge: false, goTo: '/dashboard/digitize/metadatarecords' },
          { icon: 'list', text: 'List', badge: false, goTo: '/dashboard/digitize/list' },
          { icon: 'cloud_upload', text: 'FTP Batch', badge: false, goTo: '/dashboard/digitize/ftpbatch' }
        ]
      },
      { icon: 'assignment',
        text: 'Documents',
        items: [
          { icon: 'add', text: 'Compose', badge: false, goTo: '/dashboard/documents/compose' },
          {
            icon: 'inbox',
            text: 'Inbox',
            badge: true,
            badgeColor: '#0089B5',
            goTo: '/dashboard/documents/inbox'
          },
          { icon: 'send', text: 'Sent', badge: false, goTo: '/dashboard/documents/sent' },
          {
            icon: 'insert_drive_file',
            text: 'Drafts',
            badge: true,
            badgeColor: '#DC9100',
            goTo: '/dashboard/documents/drafts' },
          { icon: 'directions', text: 'Route', badge: false, goTo: '/dashboard/documents/route' }
        ]
      },
      { icon: 'supervisor_account',
        text: 'Manage',
        items: [
          { icon: 'assignment', text: 'Record List', badge: false, goTo: '/dashboard/manage/recordlist' },
          { icon: 'publish', text: 'Upload', badge: false, goTo: '/dashboard/manage/upload' },
          { icon: 'library_books', text: 'Metadata', badge: false, goTo: '/dashboard/manage/metadata' },
          { icon: 'reorder', text: 'Categories', badge: false, goTo: '/dashboard/manage/categories' },
          { icon: 'view_list', text: 'Record Types', badge: false, goTo: '/dashboard/manage/recordtypes' },
          { icon: 'language', text: 'System', badge: false, goTo: '/dashboard/manage/system' }
        ]
      },
      { icon: 'assignment_turned_in',
        text: 'Audit Trail',
        items: [
          { icon: 'dashboard', text: 'Top Document Accessed', badge: false, goTo: '/dashboard/audittrail/topdocumentaccessed' },
          { icon: 'people', text: 'Top Users', badge: false, goTo: '/dashboard/audittrail/topusers' },
          { icon: 'person', text: 'User Rights Logs', badge: false, goTo: '/dashboard/audittrail/userrightslogs' },
          { icon: 'person', text: 'User Creation Logs', badge: false, goTo: '/dashboard/audittrail/usercreationlogs' },
          { icon: 'assignment_turned_in', text: 'Audit Trail', badge: false, goTo: '/dashboard/audittrail/audittrail' }
        ]
      },
      { icon: 'person',
        text: 'Account',
        items: [
          { icon: 'list', text: 'User List', badge: false, goTo: '/dashboard/account/userlist' },
          { icon: 'person_outline', text: 'Roles', badge: false, goTo: '/dashboard/account/roles' },
          { icon: 'border_color', text: 'Access Types', badge: false, goTo: '/dashboard/account/accesstypes' },
          { icon: 'group', text: 'Departments', badge: false, goTo: '/dashboard/account/departments' },
          { icon: 'people', text: 'User Groups', badge: false, goTo: '/dashboard/account/usergroups' },
          { icon: 'work', text: 'Positions', badge: false, goTo: '/dashboard/account/positions' },
          { icon: 'person', text: 'Profile', badge: false, goTo: '/dashboard/account/profile' }
        ]
      }
    ],
    loading: false,
    navs: true,
    alert: true
  }),
  computed: {
    // ...mapGetters('login', ['user']),
    ...mapGetters('storeevents', ['nav'])
  },
  watch: {
    nav () {
      // force true due to v-navigation-drawer has no feature that tracks outside click
      if (this.nav === true) {
        this.navs = true
      } else {
        this.navs = true
      }
    }
  },
  mixins: [Global],
  props: {
    source: String
  },
  mounted () {
    // let user = null
    // if (process.client) {
    //   if (!_.isEmpty(localStorage.vuex)) {
    //     user = JSON.parse(localStorage.vuex).login.user
    //   }

    //   if (!_.isEmpty(user)) {
    //     this.loading = false
    //   } else {
    //     this.loading = true
    //     this.goTo('/')
    //   }
    // }
  }
}
</script>
