<template>
  <v-layout row wrap class="h-100" align-center justify-center>
    <div class="h-100 w-100" style="position: absolute;">
      <v-img :src="crms.bg" width="100%" height="100%"/>
    </div>
    <v-layout row wrap justify-center>
      <no-ssr>
        <!-- <v-flex xs12 sm8 lg4 v-if="!loading"> -->
        <v-flex xs12 sm8 md4 lg3>
          <!-- <v-progress-linear v-if="loginloading" :indeterminate="true" style="margin-bottom: 0px;" /> -->
          <div class="login-header-text mb-2">CITY ARCHIVES AND RECORDS OFFICE</div>
          <v-card class="elevation-12 pa-3" :style="loginloading === true ? 'opacity: 0.5;': 'opacity: 1'">
            <v-flex align="center" justify="center">
              <v-img
                :src="crms.logo"
                aspect-ratio="1"
                class="mx-auto mb-3 mt-2"
                max-width="80"
                max-height="80"
              ></v-img>
            </v-flex>
            <v-text-field
              outlined
              v-model="form.email"
              label="Email"
              solo
              prepend-icon="person"
              :error-messages="error.email"
              class="px-2"
              @keyup.enter="login()"/>
           
            <v-text-field
              v-model="form.password"
              :error-messages="error.password"
              label="Password"
              solo
              prepend-icon="lock"
              class="px-2"
              type="password"
              @keyup.enter="login()"/>

            <v-btn block dark depressed @click="login" color="#3F7A4D">
              LOGIN
            </v-btn>
            
            <v-card-actions>
              <v-spacer></v-spacer>
              <span class="forgot-text pointer" @click="goTo('/forgotpassword')">
                Forgot password?
              </span>
            </v-card-actions>
            <div class="mt-2 w-100 text-center credits-text">© {{ $moment().format('YYYY') }} - City Government of Davao</div>
          </v-card>
        </v-flex>
      </no-ssr>
    </v-layout>
  </v-layout>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from 'vuex'
import Global from '~/plugins/mixins/global'
import ImagePath from '~/plugins/mixins/imagepath'
import Error from '~/plugins/mixins/error_handling'
// import _ from 'lodash'

export default {
  data: () => ({
    form: {
      email: '',
      password: ''
    },
    loading: false,
    loginloading: false
  }),
  mixins: [
    Global,
    Error,
    ImagePath
  ],
  computed: {
    ...mapGetters('login', ['user'])
  },
  methods: {
    ...mapActions('login', ['LOGIN_USER']),
    ...mapMutations('login', ['SET_USER']),
    login () {
      this.goTo('/dashboard')
      // this.loginloading = true
      // this.LOGIN_USER(this.form).then(data => {
      //   console.log(data)
      //   this.goTo('/dashboard')
      //   if (data.user.profile.role === 'admin') {
      //     this.goTo('/dashboard')
      //     this.SET_USER(data)
      //     this.loginloading = false
      //     if (process.client) {
      //       localStorage.setItem('id', data.user.id)
      //       localStorage.setItem('token', data.token)
      //     }
      //   }
      // }).catch(data => {
      //   this.loginloading = false
      //   this.resetError()
      //   this.setError(data.data)
      // })
    }
  },
  created () {
    // this.loading = true
    // let user = null
    // if (process.client) {
    //   if (!_.isEmpty(localStorage.vuex)) {
    //     user = JSON.parse(localStorage.vuex).login.user
    //   }

    //   if (!_.isEmpty(user)) {
    //     if (user.user.profile.role === 'admin') {
    //       localStorage.setItem('token', user.token)
    //       this.goTo('/dashboard')
    //     }
    //   } else {
    //     this.loading = false
    //     localStorage.clear()
    //     localStorage.clear() // this will clear the localstorage if the user is not found in vuex
    //   }
    // }
  }
}
</script>
