<template>
  <v-flex lg12 md12 sm12 xs12 class="pa-2">
    <span class="email-header-text">Category Information</span>
    <v-card class="px-3 py-4 my-3">
      <v-layout row wrap>

        <v-flex lg6 md6 sm6 xs12 px-2>
          <v-text-field
            label="Category Name"
            v-model="form.description"
            placeholder=" "
            regular
          >
            <template #label>
              Category Name<span class="red--text"><strong> *</strong></span>
            </template>
          </v-text-field>
        </v-flex>
        <v-flex lg6 md6 sm6 xs12 px-2>
          <v-menu
            v-model="menu"
            :close-on-content-click="false"
            :nudge-right="40"
            lazy
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="form.lifespan"
                label="Lifespan"
                prepend-icon="event"
                placeholder=" "
                readonly
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="form.lifespan" @input="menu = false"></v-date-picker>
          </v-menu>
        </v-flex>

        <v-flex lg12 md12 sm12 xs12 pt-2>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              depressed
              dark
              small
              color="mainColor"
              @click="">  
              SAVE
            </v-btn>
          </v-card-actions>
        </v-flex>

        <snackbar 
          :message="snackbar.message"
          :snackbar="snackbar.status" 
          :color="snackbar.color"/> 

      </v-layout>
    </v-card>
  </v-flex>
</template>

<script>
import Global from '~/plugins/mixins/global'
import Choices from '~/plugins/mixins/choices'

export default {
  data: () => ({
    menu: false,
    form: {}
  }),
  watch: {
    'snackbar.status': {
      handler () {
        // Used from Global.js
        this.snackbarInterval()
      },
      deep: true
    }
  },
  mixins: [Global, Choices]
}
</script>
