<template>
  <div>
    <v-text-field
      class="circle-edge"
      label="Search in Sent"
      prepend-inner-icon="search"
      solo
    ></v-text-field>
  </div>
</template>

<script>
  import Global from '~/plugins/mixins/global'

  export default {
    data: () => ({
  
    }),
    mixins: [Global]
  }
</script>