<template>
  <v-flex lg8 md8 sm12 xs12 pa-2 style="display: flex; align-items: stretch;">
    <v-card elevation="1" class="py-3 w-100" min-height="400px" style="position: relative;">
      <div class="logo-thumbmark">
        <v-img
          :src="crms.caro_logo"
          aspect-ratio="1"
          class="mx-auto mb-3 mt-2"
          max-width="50%"
          style="opacity: 0.3"
        ></v-img>
      </div>

      <v-layout row wrap class="mx-3">
        
        <v-flex lg7 md7 sm12 xs12 pa-1>
          <v-text-field
            class="dashboardSearch"
            label="Enter Some Text..."
            prepend-inner-icon="search"
            solo
          ></v-text-field>
        </v-flex>
        <v-flex lg2 md2 sm6 xs12 pa-1>
          <v-btn class="ma-0" block color="mainColor">Search</v-btn>
        </v-flex>
        <v-flex lg3 md3 sm6 xs12 pa-1>
          <v-btn
            class="ma-0"
            block
            color="primary"
            @click="dialog = true"
          >
            Advanced Search
          </v-btn>
        </v-flex>
      
      </v-layout>

    </v-card>

    <v-dialog
      persistent
      v-model="dialog"
      width="900"
    >
      <v-card class="pa-3">
        <div class="subheading mainTextColor text-bold mb-3">Advanced Search</div>
        <v-layout row wrap>

          <v-flex lg6 md6 sm6 xs12 px-2>
            <v-text-field
              label="All these words"
              placeholder=" "
            />
          </v-flex>
          <v-flex lg6 md6 sm6 xs12 pa-2>
            <div>ex1. apple orange  will output +apple +orange</div>
            <div>ex2. orange "apple mango"  will output +orange +"apple mango"</div>
          </v-flex>

          <v-flex lg6 md6 sm6 xs12 px-2>
            <v-text-field
              label="This exact word or phrase"
              placeholder=" "
            />
          </v-flex>
          <v-flex lg6 md6 sm6 xs12 pa-2>
            <div>ex. apple mango  will output  "apple mango"</div>
          </v-flex>

          <v-flex lg6 md6 sm6 xs12 px-2>
            <v-text-field
              label="Any of these words"
              placeholder=" "
            />
          </v-flex>
          <v-flex lg6 md6 sm6 xs12 pa-2>
            <div>ex1. apple mango will output apple OR mango</div>
            <div>ex2. orange "apple mango" will output orange OR "apple mango"</div>
          </v-flex>

          <v-flex lg6 md6 sm6 xs12 px-2>
            <v-text-field
              label="None of these words"
              placeholder=" "
            />
          </v-flex>
          <v-flex lg6 md6 sm6 xs12 pa-2>
            <div>ex1. apple orange will output -apple -orange</div>
            <div>ex2. orange "apple mango" will output  -orange -"apple mango"</div>
          </v-flex>

          <v-flex lg6 md6 sm6 xs12 px-2>
            <v-text-field
              label="Numbers ranging from"
              placeholder=" "
            />
          </v-flex>
          <v-flex lg6 md6 sm6 xs12 pa-2>
            <div>Put TO between the numbers and enclosed with bracket: [1 TO 100], [2011 TO 2015]</div>
          </v-flex>

        </v-layout>

        <v-divider></v-divider>

        <v-card-actions class="pt-3">
          <v-btn
            small
            color="primary"
            flat
            @click="dialog = false"
          >
            Close
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            small
            color="#06CB55"
            dark
            @click="dialog = false"
          >
            SUBMIT
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </v-flex>
</template>

<script>
  import Global from '~/plugins/mixins/global'
  import ImagePath from '~/plugins/mixins/imagepath'

  export default {
    data: () => ({
      dialog: false
    }),
    mixins: [Global, ImagePath]
  }
</script>
