<template>
  <v-flex :class="customResponsive">
    <v-card
      class="mt-4 mx-auto py-2 px-4 pointer"
      height="120px"
      @click="$emit('customGoTo')"
      style="display: flex; align-items: center"
    >
      <v-layout row wrap>
        <v-flex lg3 md6 style="display: flex; justify-content: center; align-items: center;">
          <v-icon 
            large
            left
            class="mr-1 pa-1 w-100 h-100"
            :color="customColor"
            style="font-size: 70px"
          >
            {{ customIcon }}
          </v-icon>
        </v-flex>
        <v-flex lg7 md6 class="ml-auto text-right d-flex flex-column h-100">
          <v-card-text style="word-wrap: break-word;" class="px-0 pb-0 dashboard-card-title">{{ customLabel }}</v-card-text>
          <span class="custom-data">
            {{ customData }}
          </span>
        </v-flex>
      </v-layout>
    </v-card>
  </v-flex>
</template>

<script>
  export default {
    props: {
      customResponsive: String,
      customColor: String,
      customIcon: String,
      customLabel: String,
      customData: [Number, String],
      customGoTo: String
    }
  }
</script>