<template>
  <v-flex lg4 md4 sm12 xs12 pa-2 style="display: flex; align-items: stretch;">
    <v-card elevation="1" class="py-3 w-100" min-height="180px">
      <span class="subheading px-3">Urgent Emails</span>
      <v-divider class="mt-2"></v-divider>
      <v-list two-line v-if="isEmpty(items)">
        <template v-for="(item, index) in items">
          <v-list-tile
            :key="item.title"
            avatar
            ripple
          >
            <v-list-tile-avatar>
                <img :src="item.avatar">
              </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title><small class="mainTextColor">{{ item.title }}</small></v-list-tile-title>
              <v-list-tile-sub-title class="text--primary">{{ item.headline }}</v-list-tile-sub-title>
              <v-list-tile-sub-title><small>{{ item.subtitle }}</small></v-list-tile-sub-title>
            </v-list-tile-content>

            <v-list-tile-action>
              <v-list-tile-action-text class="mainTextColor">{{ item.action }}</v-list-tile-action-text>
              <v-chip small color="#FF0000" dark style="height: 15px !important; font-size: 12px">
                <small class="text-bold">
                 Route
                </small>
              </v-chip>
            </v-list-tile-action>

          </v-list-tile>
          <v-divider
            v-if="index + 1 < items.length"
            :key="index"
          ></v-divider>
        </template>
      </v-list>

      <div
        v-else
        class="w-100 text-center" 
        color="grey lighten-4"
        style="margin-top: 50%; display: flex; justify-content: center; align-items: center;">
        <span class="title text-bold" style="color: #9995958a">No Urgent Emails</span>
      </div>
      
    </v-card>
  </v-flex>
</template>

<script>
  import Global from '~/plugins/mixins/global'

  export default {
    data: () => ({
      items: [
        {
          action: 'March 20, 2019',
          avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
          headline: 'CRMS INVENTORY FILLABLE FORM',
          title: 'Rose Martin',
          subtitle: 'Ref. No. : CCRO-2020-00910'
        },
        {
          action: 'March 06, 2019',
          avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
          headline: 'Request Death Certificate',
          title: 'John Del Rosario',
          subtitle: 'Ref. No. : CCRO-2020-00821'
        },
        {
          action: 'March 06, 2019',
          avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
          headline: 'Non-Disclosure Agreement (NDA) Fill-in Capable Form',
          title: 'Joseph Lopez',
          subtitle: 'Ref. No. : CCRO-2020-00798'
        },
        {
          action: 'March 05, 2019',
          avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
          headline: 'CRMS INVENTORY FILLABLE FORM',
          title: 'Kelly Martin',
          subtitle: 'Ref. No. : CCRO-2020-00910'
        },
        {
          action: 'March 04, 2019',
          avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
          headline: 'CRMS INVENTORY FILLABLE FORM',
          title: 'Rose Jack',
          subtitle: 'Ref. No. : CCRO-2020-00910'
        }
      ]
    }),
    mixins: [Global]
  }
</script>
