<template>
  <v-flex lg12 md12 sm12 xs12 class="py-2">
    <span class="email-header-text">Profile Information</span>
    <v-card class="px-3 py-4 my-3">
      <v-layout row wrap>

        <v-flex lg4 md4 sm6 xs12 px-2>
          <v-text-field
            label="First Name"
            placeholder=" "
            regular
          ></v-text-field>
        </v-flex>
        <v-flex lg4 md4 sm6 xs12 px-2>
          <v-text-field
            label="Middle Name"
            placeholder=" "
            regular
          ></v-text-field>
        </v-flex>
        <v-flex lg4 md4 sm6 xs12 px-2>
          <v-text-field
            label="Last Name"
            placeholder=" "
            regular
          ></v-text-field>
        </v-flex>
        <v-flex lg4 md4 sm6 xs12 px-2>
          <v-text-field
            label="Username"
            placeholder=" "
            regular
          ></v-text-field>
        </v-flex>
        <v-flex lg4 md4 sm6 xs12 px-2>
          <v-text-field
            label="Email"
            placeholder=" "
            regular
          ></v-text-field>
        </v-flex>
        <v-flex lg4 md4 sm6 xs12 px-2>
          <v-text-field
            label="Mobile Number"
            placeholder=" "
            regular
          ></v-text-field>
        </v-flex>
        <v-flex lg6 md6 sm12 xs12 px-2>
          <div class="mb-2 caption" style="color: #868686">Digital Signature</div>
          <input type="file" id="file" ref="file" name="file" v-on:change="handleFileUpload()"/>
        </v-flex>
        <v-flex lg12 md12 sm12 xs12 pt-2>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              depressed
              dark
              small
              color="mainColor"
              @click="">  
              UPDATE
            </v-btn>
          </v-card-actions>
        </v-flex>

        <snackbar 
          :message="snackbar.message"
          :snackbar="snackbar.status" 
          :color="snackbar.color"/> 

      </v-layout>
    </v-card>
  </v-flex>
</template>

<script>
import Global from '~/plugins/mixins/global'

export default {
  data: () => ({

  }),
  watch: {
    'snackbar.status': {
      handler () {
        // Used from Global.js
        this.snackbarInterval()
      },
      deep: true
    }
  },
  mixins: [Global]
}
</script>
