<template>
  <v-flex lg12 md12 sm12 xs12 class="py-2">
    <span class="email-header-text">User Information</span>
    <v-card class="px-3 py-4 my-3">
      <v-layout row wrap>

        <v-flex lg3 md3 sm6 xs12 px-2>
          <v-text-field
            label="First Name"
            v-model="form.first_name"
            placeholder=" "
            regular
          >
            <template #label>
              First Name<span class="red--text"><strong> *</strong></span>
            </template>
          </v-text-field>
        </v-flex>
        <v-flex lg3 md3 sm6 xs12 px-2>
          <v-text-field
            label="Middle Name"
            v-model="form.middle_name"
            placeholder=" "
            regular
          ></v-text-field>
        </v-flex>
        <v-flex lg3 md3 sm6 xs12 px-2>
          <v-text-field
            label="Last Name"
            v-model="form.last_name"
            placeholder=" "
            regular
          ></v-text-field>
        </v-flex>
        <v-flex lg3 md3 sm6 xs12 px-2>
          <v-text-field
            label="Username"
            v-model="form.username"
            placeholder=" "
            regular
          ></v-text-field>
        </v-flex>
        <v-flex lg3 md3 sm6 xs12 px-2>
          <v-text-field
            clearable
            :append-icon="show1 ? 'visibility' : 'visibility_off'"
            :type="show1 ? 'text' : 'password'"
            label="Password"
            v-model="form.password"
            placeholder=" "
            @click:append="show1 = !show1"
            regular
          >
            <template #label>
              Password<span class="red--text"><strong> *</strong></span>
            </template>
          </v-text-field>
        </v-flex>
        <v-flex lg3 md3 sm6 xs12 px-2>
          <v-text-field
            clearable0            :append-icon="show1 ? 'visibility' : 'visibility_off'"
            :type="show1 ? 'text' : 'password'"
            label="Verify Password"
            placeholder=" "
            @click:append="show1 = !show1"
            regular
          >
            <template #label>
              Verify Password<span class="red--text"><strong> *</strong></span>
            </template>
          </v-text-field>
        </v-flex>
        <v-flex lg3 md3 sm6 xs12 px-2>
          <v-text-field
            label="Email"
            v-model="form.email"
            placeholder=" "
            regular
          ></v-text-field>
        </v-flex>
        <v-flex lg3 md3 sm6 xs12 px-2>
          <v-text-field
            label="Mobile Number"
            v-model="form.mobile_number"
            placeholder=" "
            regular
          ></v-text-field>
        </v-flex>
        <v-flex lg6 md6 sm6 xs12 px-2>
          <v-combobox
            label="Departments"
            v-model="form.department"
            placeholder=" "
          ></v-combobox>
        </v-flex>
        <v-flex lg3 md3 sm6 xs12 px-2>
          <v-combobox
            label="Position"
            v-model="form.position"
            placeholder=" "
          ></v-combobox>
        </v-flex>
        <v-flex lg3 md3 sm6 xs12 px-2>
          <v-combobox
            label="Status"
            v-model="form.status"
            placeholder=" "
            :items="status"
          ></v-combobox>
        </v-flex>
        <v-flex lg5 md5 sm6 xs12 px-2>
          <v-combobox
            label="Office Account"
            v-model="form.office_account"
            placeholder=" "
            :items="yesno"
          ></v-combobox>
        </v-flex>
        <v-flex lg4 md4 sm6 xs12 px-2>
          <v-combobox
            label="User Groups"
            v-model="form.user_groups"
            placeholder=" "
          ></v-combobox>
        </v-flex>
        <v-flex lg3 md3 sm6 xs12 px-2>
          <v-combobox
            label="Role"
            v-model="form.role"
            placeholder=" "
          ></v-combobox>
        </v-flex>
        <v-flex lg4 md4 sm12 xs12 px-2>
          <div class="mb-2 caption" style="color: #868686">Digital Signature</div>
          <input type="file" id="file" ref="file" name="file" v-on:change="handleFileUpload()"/>
        </v-flex>
        <v-flex lg12 md12 sm12 xs12 pt-2>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              depressed
              dark
              small
              color="mainColor"
              @click="">
              UPDATE
            </v-btn>
          </v-card-actions>
        </v-flex>

        <snackbar 
          :message="snackbar.message"
          :snackbar="snackbar.status" 
          :color="snackbar.color"/> 

      </v-layout>
    </v-card>
  </v-flex>
</template>

<script>
import Global from '~/plugins/mixins/global'
import Choices from '~/plugins/mixins/choices'
import { mapActions } from 'vuex'

export default {
  data: () => ({
    form: {}
  }),
  watch: {
    'snackbar.status': {
      handler () {
        // Used from Global.js
        this.snackbarInterval()
      },
      deep: true
    }
  },
  methods: {
    ...mapActions('login', ['USER_REGISTRATION']),
    login () {
      console.log(this.form)
      // this.Login(this.form).then(data => {
      //   console.log(this.form)
      // })
    }
  },
  mixins: [Global, Choices]
}
</script>
