<template>
	<div class="pr-2 my-auto">
    <v-menu
      :close-on-content-click="false"
      :nudge-width="200"
      :nudge-bottom="5"
      offset-y
      >
      <template v-slot:activator="{ on }">
        <v-btn
          class="ma-0"
          color="editColor"
          dark
          small
          depressed
          block
          v-on="on"
        >
          FILTER
        </v-btn>
      </template>

      <v-card>
        <v-list>
          <v-list-tile>
            <v-list-tile-action>
              <v-switch v-model="form.status" value="approved" color="purple"></v-switch>
            </v-list-tile-action>
            <v-list-tile-title>Admin</v-list-tile-title>
          </v-list-tile>

          <v-list-tile>
            <v-list-tile-action>
              <v-switch v-model="form.status" value="pending" color="purple"></v-switch>
            </v-list-tile-action>
            <v-list-tile-title>User</v-list-tile-title>
          </v-list-tile>


          <v-list-tile>
            <v-list-tile-action>
              <v-switch v-model="form.status" value="declined" color="purple"></v-switch>
            </v-list-tile-action>
            <v-list-tile-title>Temporary User</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-card>
    </v-menu>
  </div>
</template>

<script>

export default {
  data: () => ({
    menu: false,
    form: {
      status: []
    }
  })
}
</script>
