<template>
  <v-flex lg12 md12 sm12 xs12>
    <v-card
      class="mt-3 mx-auto px-3 pb-3" 
      style="min-height: 50px; max-height: 400px"
      >
      <v-container
        id="scroll-target"
        class="scroll-y pa-0 ma-0 full-width-table-container scroll">
        <v-layout
          style="min-height: 100px; max-height: 320px;"
          > 
           <v-data-table
            :headers="headers"
            :items="items"
            class="elevation-1"
            style="width: 100%"
            hide-actions
          >
            <template v-slot:items="props">
              <td class="pointer">{{ props.item.id }}</td>
              <td class="pointer">{{ props.item.fullname }}</td>
              <td class="pointer">{{ props.item.username }}</td>
              <td class="pointer">{{ props.item.role }}</td>
              <td class="pointer">{{ props.item.creation_date }}</td>
            </template>
          </v-data-table>
        </v-layout>
      </v-container>
    </v-card>
  </v-flex>
</template>

<script>
import Global from '~/plugins/mixins/global'

export default {
  mixins: [Global],
  data: () => ({
    headers: [
      { text: 'ID', sortable: false },
      { text: 'Fullname', sortable: false },
      { text: 'Username', sortable: false },
      { text: 'Role', sortable: false },
      { text: 'Creation Date', sortable: false }
    ],
    items: [
      {
        id: 1,
        fullname: 'Rey Rodriguez',
        username: 'rey.rodriguez',
        role: 'Admin',
        creation_date: 'January 1, 2021'
      },
      {
        id: 2,
        fullname: 'Anne Lopez',
        username: 'anne.lopez',
        role: 'User',
        creation_date: 'January 1, 2021'
      },
      {
        id: 3,
        fullname: 'Juan Dela Cruz',
        username: 'juan.delacruz',
        role: 'Temporary User',
        creation_date: 'January 1, 2021'
      },
      {
        id: 4,
        fullname: 'Jason Castro',
        username: 'jason.castro',
        role: 'User',
        creation_date: 'January 1, 2021'
      },
      {
        id: 5,
        fullname: 'Lovely Santos',
        username: 'lovely.santos',
        role: 'User',
        creation_date: 'January 1, 2021'
      }

    ]
  })
}
</script>
