<template>
  <v-flex lg12 md12 sm12 xs12>
    <v-card
      class="mt-3 mx-auto px-3 pb-3" 
      style="min-height: 50px; max-height: 400px"
      >
      <v-container
        id="scroll-target"
        class="scroll-y pa-0 ma-0 full-width-table-container scroll">
        <v-layout
          style="min-height: 100px; max-height: 320px;"
          > 
           <v-data-table
            :headers="headers"
            :items="items"
            class="elevation-1"
            style="width: 100%"
            hide-actions
          >
            <template v-slot:items="props">
              <td class="pointer">{{ props.item.group }}</td>
              <td class="pointer">{{ props.item.code }}</td>
              <td class="pointer text-center">
                <v-btn 
                  class="ma-0"
                  color="deleteColor"
                  dark
                  depressed 
                  small
                  >
                  Delete
                </v-btn>
              </td>
            </template>
          </v-data-table>
        </v-layout>
      </v-container>
    </v-card>
  </v-flex>
</template>

<script>
import Global from '~/plugins/mixins/global'

export default {
  mixins: [Global],
  data: () => ({
    headers: [
      { text: 'Group', sortable: false },
      { text: 'Code', sortable: false },
      { text: 'Action', sortable: false, align: 'center' }
    ],
    items: [
      {
        id: 1,
        group: 'Administrative Officers',
        code: '1'
      },
      {
        id: 2,
        group: 'Assistant Dept Heads',
        code: '2'
      },
      {
        id: 3,
        group: 'Head of Offices',
        code: '3'
      }
    ]
  })
}
</script>
