<template>
  <v-flex lg12 md12 sm12 xs12 class="py-2" id="sample">
    <span class="email-header-text">Members</span>
    <v-card
      class="mt-3 mx-auto px-3 pb-3" 
      style="min-height: 50px; max-height: 400px"
      >
      <v-layout row wrap>
        <v-flex class="text-right d-flex flex-column h-100">
          <v-card-actions class="px-0">
            <v-spacer></v-spacer>
            <v-btn 
              color="mainColor"
              dark
              depressed
              small
              @click="dialog = true"
              >
              ADD
            </v-btn>
          </v-card-actions>
        </v-flex>
      </v-layout>
      <v-container
        class="scroll-y pa-0 ma-0 full-width-table-container scroll">
        <v-layout
          style="min-height: 100px; max-height: 320px;"
          > 
           <v-data-table
            :headers="headers"
            :items="items"
            class="elevation-1"
            style="width: 100%"
            hide-actions
          >
            <template v-slot:items="props">
              <td class="pointer">{{ props.item.fullname }}</td>
              <td class="pointer">{{ props.item.department }}</td>
            </template>
          </v-data-table>
        </v-layout>
      </v-container>
    </v-card>

    <v-dialog
      persistent
      v-model="dialog"
      width="600"
      >
      <v-card>
        <v-card-title
          primary-title
          class="py-2 px-3 modal-title"
          >
          ADD MEMBER
        </v-card-title>
        <v-card-text>
          <v-combobox
            label="Users"
            placeholder=" "
          ></v-combobox>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            depressed
            small
            @click="dialog = false"
            style="color:#6d6d6d"
            >
            CANCEL
          </v-btn>
          <v-btn
            depressed 
            class="white--text" 
            color="mainColor" 
            :loading="load"
            @click="dialog = false"
            >SAVE
          </v-btn>
        </v-card-actions>

      </v-card>
    </v-dialog>

    <snackbar 
      :message="snackbar.message" 
      :snackbar="snackbar.status" 
      :color="snackbar.color"/>

  </v-flex>
</template>

<script>
import Global from '~/plugins/mixins/global'

export default {
  data: () => ({
    form: {},
    dialog: false,
    headers: [
      {
        text: 'Fullname',
        value: 'quantity',
        sortable: false
      },
      {
        text: 'Department',
        value: 'name',
        sortable: false
      }
    ]
  }),
  watch: {
    'snackbar.status': {
      handler () {
        // Used from Global.js
        this.snackbarInterval()
      },
      deep: true
    }
  },
  mixins: [Global],
  mounted () {
    // this.setFilter()
  }
}
</script>
