<template>
  <v-content>
    <v-container fluid>

      <record-type-form />
    
    </v-container>
  </v-content>
</template>

<script>
  import Global from '~/plugins/mixins/global'

  export default {
    data: () => ({
    }),
    mixins: [Global]
  }
</script>
 
