<template>
  <v-content>
    <v-container fluid>

      

    </v-container>
  </v-content>
</template>

<script>
  import Global from '~/plugins/mixins/global'

  export default {
    data: () => ({
  
    }),
    mixins: [Global],
    beforeRouteEnter (to, from, next) {
      next(vm => {
        vm.toolBarName('Record List')
      })
    }
  }
</script>
