<template>
  <v-layout row wrap>
    <v-flex xs12 style="border-bottom: 1px solid #D0CBCB">
      <v-layout row wrap class="pl-3 pb-1"style="align-items: center">
        <v-flex xs9>
          <span class="email-header-text">{{ getemail.headline }}</span>
        </v-flex>
        <v-flex xs3 text-right>
          <span>{{ getemail.action }}</span>
        </v-flex>
        <v-flex xs12>
          <v-card-actions>
            <v-avatar size="25">
              <v-img 
                :src="getemail.avatar"
                aspect-ratio="1"
                class="profile-avatar"
              ></v-img>
            </v-avatar>
            <div class="ml-2">
              <span>{{ getemail.title }}</span>
            </div>
            <v-spacer></v-spacer>
            <v-icon class="mx-2 pointer">forward</v-icon>
          </v-card-actions>
        </v-flex>
      </v-layout>
    </v-flex>
    
    
  </v-layout>
</template>

<script>
  import { mapGetters } from 'vuex'
  import Global from '~/plugins/mixins/global'

  export default {
    data: () => ({
  
    }),
    mixins: [Global],
    computed: {
      ...mapGetters('email', ['getemail'])
    }
  }
</script>