<template>
  <v-flex lg12 md12 sm12 xs12>
    <v-card
      class="mt-3 mx-auto px-3 pb-3" 
      style="min-height: 50px; max-height: 400px"
      >
      <v-container
        id="scroll-target"
        class="scroll-y pa-0 ma-0 full-width-table-container scroll">
        <v-layout
          style="min-height: 100px; max-height: 320px;"
          > 
           <v-data-table
            :headers="headers"
            :items="items"
            class="elevation-1"
            style="width: 100%"
            hide-actions
          >
            <template v-slot:items="props">
              <td class="pointer">{{ props.item.id }}</td>
              <td class="pointer">{{ props.item.description }}</td>
              <td class="pointer">{{ props.item.office }}</td>
              <td class="pointer">{{ props.item.creation_date }}</td>
              <td class="pointer text-center">
                <v-btn 
                  class="ma-0"
                  color="deleteColor"
                  dark
                  depressed 
                  small
                  >
                  Delete
                </v-btn>
              </td>
            </template>
          </v-data-table>
        </v-layout>
      </v-container>
    </v-card>
  </v-flex>
</template>

<script>
import Global from '~/plugins/mixins/global'

export default {
  mixins: [Global],
  data: () => ({
    headers: [
      { text: 'ID', sortable: false },
      { text: 'Description', sortable: false },
      { text: 'Office Name', sortable: false },
      { text: 'Date Created', sortable: false },
      { text: 'Action', sortable: false, align: 'center' }
    ],
    items: [
      {
        id: 1,
        description: 'city',
        office: 'Office of the City Mayor',
        creation_date: 'January 1, 2021'
      },
      {
        id: 2,
        description: 'comm',
        office: 'Communication Unit',
        creation_date: 'January 1, 2021'
      },
      {
        id: 3,
        description: 'lib',
        office: 'City Library',
        creation_date: 'January 1, 2021'
      },
      {
        id: 4,
        description: 'market',
        office: 'Markets',
        creation_date: 'January 1, 2021'
      }
    ]
  })
}
</script>
