<template>
  <div>
    <v-card elevation="1" class="py-1 w-100" min-height="180px">
      <v-card-actions>
        <v-checkbox v-model="selectAll" hide-details class="shrink ma-0 pa-0 mx-2"></v-checkbox>
        <v-icon class="mx-2 pointer" v-if="isEmpty(selected)">archive</v-icon>
        <v-icon class="mx-2 pointer" v-if="isEmpty(selected)">forward</v-icon>
        <v-spacer></v-spacer>
        <draft-filter/>
      </v-card-actions> 
      </v-layout>
      <v-divider class="mt-1"></v-divider>
      <v-container
        id="scroll-target"
        class="scroll-y pa-0 ma-0 scroll">
        <v-list two-line v-if="isEmpty(items)" style="min-height: 100px; max-height: 63vh;">
          <template v-for="(item, index) in items">
            <v-list-tile
              :key="item.title"
              avatar
              ripple
            >
              <v-checkbox v-model="selected" :value="item.id" hide-details class="shrink ma-0 pa-0"></v-checkbox>
              <v-list-tile-avatar class="pointer" @click="choosenItem(item)">
                <img :src="item.avatar">
              </v-list-tile-avatar>
              <v-list-tile-content class="pointer" @click="choosenItem(item)">
                <v-list-tile-title>
                  <small class="mainTextColor">{{ item.title }}</small>
                  <v-chip
                    v-if="item.urgent === true"
                    style="height: 15px !important; font-size: 12px" 
                    small dark color="#9F0000"
                  >
                    <small class="text-bold">
                     URGENT
                    </small>
                  </v-chip>
                </v-list-tile-title>
                <v-list-tile-sub-title class="text--primary">{{ item.headline }}</v-list-tile-sub-title>
                <v-list-tile-sub-title><small>{{ item.subtitle }}</small></v-list-tile-sub-title>
              </v-list-tile-content>

              <v-list-tile-action class="pointer" @click="choosenItem(item)">
                <v-list-tile-action-text class="mainTextColor">{{ item.action }}</v-list-tile-action-text>
                <v-chip
                  style="height: 15px !important; font-size: 12px"
                   small dark color="white"
                >
                  <small class="text-bold">
                   
                  </small>
                </v-chip>
              </v-list-tile-action>

            </v-list-tile>
            <v-divider
              v-if="index + 1 < items.length"
              :key="index"
            ></v-divider>
          </template>
        </v-list>
        <div
          v-else
          class="w-100 text-center" 
          color="grey lighten-4"
          style="margin-top: 50%; display: flex; justify-content: center; align-items: center;">
          <span class="title text-bold" style="color: #9995958a">No Emails</span>
        </div>
      </v-container>
    </v-card>
  </div>
</template>

<script>
  import { mapMutations } from 'vuex'
  import Global from '~/plugins/mixins/global'

  export default {
    data: () => ({
      selected: [],
      items: [
        {
          id: 1,
          action: 'March 20, 2019',
          avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
          headline: 'CRMS INVENTORY FILLABLE FORM',
          title: 'Rose Martin',
          subtitle: 'Ref. No. : CCRO-2020-00910',
          type: 'Receive',
          urgent: false
        },
        {
          id: 2,
          action: 'March 06, 2019',
          avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
          headline: 'Request Death Certificate',
          title: 'John Del Rosario',
          subtitle: 'Ref. No. : CCRO-2020-00821',
          type: 'Receive',
          urgent: false
        },
        {
          id: 3,
          action: 'March 06, 2019',
          avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
          headline: 'Non-Disclosure Agreement (NDA) Fill-in Capable Form',
          title: 'Joseph Lopez',
          subtitle: 'Ref. No. : CCRO-2020-00798',
          type: 'Route',
          urgent: false
        },
        {
          id: 4,
          action: 'March 05, 2019',
          avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
          headline: 'CRMS INVENTORY FILLABLE FORM',
          title: 'Kelly Martin',
          subtitle: 'Ref. No. : CCRO-2020-00910',
          type: 'Signature',
          urgent: true
        },
        {
          id: 5,
          action: 'March 04, 2019',
          avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
          headline: 'CRMS INVENTORY FILLABLE FORM',
          title: 'Rose Jack',
          subtitle: 'Ref. No. : CCRO-2020-00910',
          type: 'Receive',
          urgent: false
        }
      ]
    }),
    mixins: [Global],
    computed: {
      selectAll: {
        get () {
          return this.items ? this.selected.length === this.items.length : false
        },
        set (value) {
          let selected = []
          if (value) {
            this.items.forEach(function (item) {
              selected.push(item.id)
            })
          }
          this.selected = selected
        }
      }
    },
    methods: {
      ...mapMutations('email', ['SET_EMAIL']),
      choosenItem (payload) {
        this.SET_EMAIL(payload)
      }
    }
  }
</script>