<template>
  <div class="pr-2 my-auto">
    <v-menu
      :close-on-content-click="false"
      :nudge-bottom="5"
      left
      offset-y
      >
      <template v-slot:activator="{ on }">
        <v-icon v-on="on" class="pointer">more_vert</v-icon>
      </template>

      <v-card>
        <v-list>
          
          <v-list-tile>
            <v-list-tile-action>
              <v-switch v-model="form.status" value="declined" color="purple"></v-switch>
            </v-list-tile-action>
            <v-list-tile-title>Urgent</v-list-tile-title>
          </v-list-tile>

          <v-list-tile>
            <v-list-tile-action>
              <v-switch v-model="form.status" value="declined" color="purple"></v-switch>
            </v-list-tile-action>
            <v-list-tile-title>Not Urgent</v-list-tile-title>
          </v-list-tile>
          
        </v-list>
      </v-card>
    </v-menu>
  </div>
</template>

<script>
  export default {
    data: () => ({
      menu: false,
      form: {}
    })
  }
</script>
