<template>
  <v-flex lg6 md6 sm6 xs12 class="pa-2 mt-3">
    <v-card
      class="mx-auto px-3 pb-5"
      height="300px"
      >
        <v-layout row wrap style="display: flex; align-items: center;">
          <span class="mainTextColor">LINK/S</span>
          <v-flex class="text-right d-flex flex-column h-100">
            <v-card-actions class="px-0">
              <v-spacer></v-spacer>
              <v-btn 
                color="mainColor"
                dark
                depressed
                small
                >
                ADD
              </v-btn>
            </v-card-actions>
          </v-flex>
        </v-layout>
      <v-layout row wrap>
      <v-container
        id="scroll-target"
        style="max-height: 300px;"
        class="scroll-y scroll pa-0 ma-0">
        <v-layout row wrap
          style="min-height: 100px; max-height: 300px;"
          >

          <v-flex lg12 md12 sm12 xs12 v-for="(item, index) in items" :key="index" class="mx-1 py-1">
            <v-card class="pa-2">
              <v-layout row>
                <div @click="" class="pointer">
                  <v-img
                    :src="require('@/assets/images/link.png')"
                    width="30px"
                    contain
                  ></v-img>
                </div>
                <div class="d-flex w-100 pointer" @click="">
                  <v-card-title class="pa-0">
                    <div class="ml-2 d-flex flex-column my-auto">
                      <span>{{ item.link }}</span>
                    </div>
                  </v-card-title>
                </div>
                <div class="d-flex ml-auto pl-2">
                  <v-icon
                    color="error"
                    small
                    class="xxx"
                    @click=""
                  >
                    delete
                  </v-icon>
                </div>
              </v-layout>
            </v-card>
          </v-flex>

        </v-layout>
      </v-container>
    </v-layout>
    </v-card>

  </v-flex>

</template>

<script>
  import Global from '~/plugins/mixins/global'

  export default {
    data: () => ({
      dialog: false,
      items: [
        {
          link: 'https://crms.davaocity.gov.ph/'
        },
        {
          link: 'https://crms.davaocity.gov.ph/'
        },
        {
          link: 'https://crms.davaocity.gov.ph/'
        }
      ]
    }),
    mixins: [Global]
  }
</script>
