<template>
  <v-flex lg12 md12 sm12 xs12 class="pa-2">
    <v-card
      class="mx-auto pa-3"
      >
      <v-layout row wrap>
        <v-flex xs12 px-2>
          <h3 class="pt-2 pb-3">Recipients</h3>
        </v-flex>
        <v-flex lg12 xs12 px-2>
          <v-combobox
            label="Users"
            v-model="recipients"
            readonly
            append-outer-icon="contacts"
            placeholder=" "
            multiple
            @click="dialog = true"
          ></v-combobox>
        </v-flex>
        <v-flex lg12 xs12 px-2>
          <v-combobox
            label="Groups"
            v-model="recipients"
            readonly
            append-outer-icon="contacts"
            placeholder=" "
            multiple
          ></v-combobox>
        </v-flex>
        <v-flex lg8 md8 sm6 xs12 px-2>
          <v-text-field
            label="Via Email Address"
            v-model="form.via_email"
            placeholder=" "
            regular
          ></v-text-field>
        </v-flex>
        <v-flex lg4 md4 sm6 xs12 px-2>
          <v-checkbox
            label="Copy Furnish to Office"
          ></v-checkbox>
        </v-flex>

        <v-flex lg12 xs12 px-2 mt-2 mb-4>
          <v-divider></v-divider>
        </v-flex>

        <v-flex lg4 md4 sm6 xs12 px-2>
          <v-text-field
            label="Office"
            v-model="form.office"
            placeholder=" "
            regular
          ></v-text-field>
        </v-flex>
        <v-flex lg4 md4 sm6 xs12 px-2>
          <v-combobox
            label="Select Category"
            v-model="form.category"
            placeholder=" "
          ></v-combobox>
        </v-flex>
        <v-flex lg4 md4 sm6   xs12 px-2>
          <v-combobox
            label="Select Record"
            placeholder=" "
          ></v-combobox>
        </v-flex>
        <v-flex lg12 md12 sm12 xs12 px-2>
          <v-textarea
            label="Subject"
            v-model="form.subject"
            rows="2"
            placeholder=" "
          ></v-textarea>
        </v-flex>
        <v-flex lg4 md4 sm6 xs12 px-2>
          <v-combobox
            label="Signatory"
            v-model="form.signatory"
            placeholder=" "
          ></v-combobox>
        </v-flex>
        <v-flex lg4 md4 sm6 xs12 px-2>
          <v-combobox
            label="Counter Signer 1"
            v-model="form.counter_sign_1"
            placeholder=" "
          ></v-combobox>
        </v-flex>
        <v-flex lg4 md4 sm6   xs12 px-2>
          <v-combobox
            label="Counter Signer 2"
            v-model="form.counter_sign_2"
            placeholder=" "
          ></v-combobox>
        </v-flex>

        <v-flex lg4 md4 sm12 xs12 px-2>
          <span>Choose a Header</span>
          <v-radio-group class="mt-2" v-model="form.office">
            <v-radio label="Office Logo" value="radio-1"></v-radio>
            <v-radio label="City Mayor Logo" value="radio-2"></v-radio>
          </v-radio-group>
        </v-flex>
        <v-flex lg8 md8 sm12 xs12 px-2>
          
        </v-flex>
        <v-flex lg4 md4 sm6 xs12 px-2>
          <v-combobox
            label="Paper Size"
            v-model="form.paper_size"
            placeholder=" "
          ></v-combobox>
        </v-flex>
        <v-flex lg4 md4 sm6 xs12 px-2>
          <v-text-field
            label="Date"
            class="black-placeholder"
            :placeholder="$moment().format('MMMM DD, YYYY')"
            readonly
            regular
          ></v-text-field>
        </v-flex>
        <v-flex lg4 md4 sm6 xs12 px-2>
          <v-text-field
            label="Reference Number"
            placeholder="AUTO GENERATED"
            readonly
            regular
          ></v-text-field>
        </v-flex>
        <v-flex lg12 xs12 pa-2>
          <span>Body</span>
        </v-flex>
        <!-- <div class="w-100" v-html="aaa"></div> -->
        <v-flex lg12 xs12 px-2>
          <wysiwyg v-model="aaa" />
        </v-flex>
        <v-flex lg12 md12 sm12 xs12>
          <v-layout row wrap>
          
            <compose-attachments />
          
            <compose-links />

          </v-layout>
        </v-flex>

        <v-flex xs12>
          <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
              >
                SIGN
              </v-btn>
              <v-btn
                color="mainColor"
              >
                SAVE
              </v-btn>
            </v-card-actions>
        </v-flex>

        <v-dialog
          v-model="dialog"
          max-width="700"
        >
          <v-card>

            <v-card-text>
              <v-text-field
                class="circle-edge"
                label="Search User"
                prepend-inner-icon="search"
                solo
              ></v-text-field>
              {{ selected }}
              <v-list>
                <v-list-tile>
                  <v-list-tile-action>
                    <v-checkbox v-model="selectAll"/>
                  </v-list-tile-action>
                  <v-list-tile-content @click="">
                    <v-list-tile-title>Select All</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-for="(user) in users" :key="user.id">
                  <v-list-tile-action>
                    <v-checkbox v-model="selected" multiple :value="user"/>
                  </v-list-tile-action>
                  <v-list-tile-content @click="">
                    <v-list-tile-title>{{ user.name }}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
            </v-card-text>

            <v-card-actions>

              <v-btn
                color="green darken-1"
                flat="flat"
                @click="dialog = false"
              >
                Close
              </v-btn>
              <v-spacer></v-spacer>

              <v-btn
                color="mainColor"
                @click="dialog = false"
              >
                SAVE
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <snackbar   
          :message="snackbar.message" 
          :snackbar="snackbar.status" 
          :color="snackbar.color"/>

      </v-layout>
    </v-card>

  </v-flex>
</template>

<script>
  import Global from '~/plugins/mixins/global'
  import Error from '~/plugins/mixins/error_handling'

  export default {
    data: () => ({
      aaa: '',
      dialog: false,
      users: [
        { id: '1', name: 'Shad Jast', email: 'pfeffer.matt@yahoo.com' },
        { id: '2', name: 'Duane Metz', email: 'mohammad.ferry@yahoo.com' },
        { id: '3', name: 'Myah Kris', email: 'evolkman@hotmail.com' },
        { id: '4', name: 'Dr. Kamron Wunsch', email: 'lenora95@leannon.com' }
      ],
      selected: [],
      form: {}
    }),
    mixins: [Error, Global],
    computed: {
      selectAll: {
        get () {
          return this.users ? this.selected.length === this.users.length : false
        },
        set (value) {
          let selected = []
          if (value) {
            this.users.forEach(function (user) {
              selected.push(user)
            })
          }
          this.selected = selected
        }
      }
    }
  }
</script>
