<template>
  <v-content>
    <v-layout fluid class="pb-4" row wrap>

      <v-flex lg12 md12 sm12 xs12 px-2>
        <v-layout
          row
          wrap>

          <global-dashboard-card 
            customColor="#16BBCF"
            customIcon="email"
            customLabel="Unread Emails"
            customData="20"
            @customGoTo="goTo('/dashboard/')"
            customResponsive="lg4 md4 sm6 xs12 pa-2"
          />

          <global-dashboard-card
            customColor="#E63D38"
            customIcon="drafts"
            customLabel="Draft Emails"
            customData="10"
            @customGoTo="goTo('dashboard/')"
            customResponsive="lg4 md4 sm6 xs12 pa-2"
          />

          <global-dashboard-card
            customColor="#FCB831"
            customIcon="list"
            customLabel="Metadata Records"
            customData="10378"
            @customGoTo="goTo('dashboard/')"
            customResponsive="lg4 md4 sm6 xs12 pa-2"
            />
          
        </v-layout>
      </v-flex>

      <v-flex lg12 md12 sm12 xs12 px-2 pt-2>
        <v-layout row wrap>

          <urgent-emails />

          <advanced-search />

        </v-layout>
      </v-flex>
      
    </v-layout>
  </v-content>
</template>

<script>
  import Global from '~/plugins/mixins/global'

  export default {
    mixins: [Global],
    data: () => ({
  
    }),
    beforeRouteEnter (to, from, next) {
      next(vm => {
        vm.toolBarName('Dashboard')
      })
    }
  }
</script>
