<template>
  <v-content>
    <v-container fluid>
      <v-layout row wrap>

        <v-flex xs5 style="border-right: 1px solid #D0CBCB">
          <v-layout row wrap>
            <v-flex xs12 pr-3>
              <draft-search/>
            </v-flex>
            <v-flex xs12 pr-3>
              <draft-list/>
            </v-flex>
          </v-layout>
        </v-flex>

        <v-flex xs7>
          <sent-preview/>
        </v-flex>

      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
  import Global from '~/plugins/mixins/global'

  export default {
    data: () => ({
  
    }),
    mixins: [Global],
    beforeRouteEnter (to, from, next) {
      next(vm => {
        vm.toolBarName('Drafts')
      })
    }
  }
</script>
