<template>
  <v-content>
    <v-container fluid>
      <v-layout row wrap>

        <v-flex xs5 style="border-right: 1px solid #D0CBCB">
          <v-layout row wrap>
            <v-flex xs12 pr-3>
              <inbox-search/>
            </v-flex>
            <v-flex xs12 pr-3>
              <inbox-list/>
            </v-flex>
          </v-layout>
        </v-flex>

        <v-flex xs7>
          <inbox-preview/>
        </v-flex>

      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
  import { mapMutations } from 'vuex'
  import Global from '~/plugins/mixins/global'

  export default {
    data: () => ({
  
    }),
    mixins: [Global],
    methods: {
      ...mapMutations('email', ['SET_EMAIL']),
      setItem () {
        let payload = {
          id: 1,
          action: 'March 20, 2019',
          avatar: 'https://cdn.vuetifyjs.com/images/lists/1.jpg',
          headline: 'CRMS INVENTORY FILLABLE FORM',
          title: 'Rose Martin',
          subtitle: 'Ref. No. : CCRO-2020-00910',
          type: 'Receive'
        }
        this.SET_EMAIL(payload)
      }
    },
    beforeRouteEnter (to, from, next) {
      next(vm => {
        vm.toolBarName('Inbox')
        vm.setItem()
      })
    }
  }
</script>
