<template>
  <v-toolbar 
    class="elevation-0 toolbar"
    color="#EEEEEE"
    app
    clipped-right>
      <v-icon 
        @click='clickable' 
        class="mr-3 hidden-lg-and-up"
        >dehaze
      </v-icon>
      <span class="title" v-if="$vuetify.breakpoint.mdAndUp">
        <span class="font-weight-light">{{ dynamicToolbarName }}</span>
      </span>
      <v-spacer></v-spacer>

      <v-menu offset-y :close-on-content-click="false" v-model="custoMenu">
        <template v-slot:activator="{ on }">
          <v-btn class="toolbar-btn" flat icon dark v-on="on">
            <!-- <v-avatar color="mainColor" size="30" >
              <span class="white--text">
                PG
              </span>
            </v-avatar> -->
            <div class="ml-2 toolbar-btn-text hidden-md-and-down">
              <!-- <span>{{ user.user ? user.user.first_name + ' ' + user.user.last_name : '' | capitalfirst}}</span> -->
              <strong class="black--text">Welcome, Princess Garde</strong>
              <!-- <small>Admin</small> --> 
            </div>
          </v-btn>
        </template>
        <v-card class="pa-4 logout-card">
          <v-flex class="flex-column">
            <v-flex class="text-center mt-3 mb-2  ">
              <!-- <span>{{ user.user ? user.user.email : '' }}</span> -->
              <span>princessmaygarde@gmail.com</span>
            </v-flex>
            <div class="mx-3">
              <!-- <v-btn small block @click="change">Change Password</v-btn> -->
              <v-btn small block @click="">Change Password</v-btn>
            </div>
            <div class="mx-3">
              <v-btn depressed block color="mainColor" dark @click="goTo('/logout')">Log out</v-btn>
            </div>
          </v-flex>
        </v-card>
     </v-menu>

    <snackbar 
      :message="snackbar.message" 
      :snackbar="snackbar.status" 
      :color="snackbar.color"/>

  </v-toolbar>
</template>

<script>
import Global from '~/plugins/mixins/global'
import Error from '~/plugins/mixins/error_handling'
import { mapActions, mapMutations, mapGetters } from 'vuex'
import _ from 'lodash'

export default {
  props: {
    users: Object,
    choices: Array
    // title: Object
  },
  data: () => ({
    uploadLoading: false,
    count: 0,
    model: 1,
    dialog: false,
    sample: {},
    getUser: {
      user: {
        profile: {}
      }
    },
    changepass: false,
    form: {},
    show1: false,
    show2: false,
    custoMenu: false,
    changeloading: false,
    newpasserror: null
  }),
  mixins: [Global, Error],
  computed: {
    ...mapGetters('storeevents', ['nav', 'dynamicToolbarName']),
    ...mapGetters('websockets', ['notification']),
    ...mapGetters('login', ['user']),
    notificationcount () {
      return this.notification.length
    },
    getCurrentUser () {
      return this.user.user.profile
    },
    token () {
      if (process.client) {
        return window.location.search
      }
    }
  },
  watch: {
    users () {
      this.setUser()
    },
    'snackbar.status': {
      handler () {
        // Used from Global.js
        this.snackbarInterval()
      },
      deep: true
    },
    'choosenLanguage': {
      handler () {
        this.setLanguage(this.choosenLanguage)
      },
      deep: true
    }
  },
  sockets: {
    onmessage (payload) {
      let parse = JSON.parse(payload.data)
      if (parse.type === 'events.alarm') {
        this.SET_NOTIFICATION_COUNT(parse.content)
      }
    }
  },
  created () {
    // this.setUser()
  },
  methods: {
    ...mapMutations('storeevents', ['SET_NAV']),
    ...mapMutations('websockets', ['SET_NOTIFICATION_COUNT']),
    ...mapActions('login', ['PATCH_USER_PROFILE_PHOTO', 'CHANGE_PASSWORD']),
    ...mapMutations('language', ['SET_CHOOSEN_LANGUAGE']),
    change () {
      this.changepass = true
    },
    close () {
      this.resetError()
      this.form = {}
      this.changepass = false
      this.newpasserror = null
    },
    changepassword () {
      if (!_.isUndefined(this.form.newpassword)) {
        this.changeloading = true
        let payload = {
          email: this.user.user.email,
          password: this.form.oldpassword
        }
        let newpass = {
          password: this.form.newpassword
        }
        this.CHANGE_PASSWORD({ data: payload, password: newpass }).then(data => {
          this.resetError()
          this.newpasserror = null
          this.changeloading = false
          this.close()
          this.custoMenu = false
          this.snackbarReturn('Password successfully changed!', 'success')
        }).catch(data => {
          this.newpasserror = null
          this.changeloading = false
          this.resetError()
          this.setError(data.data)
        })
      } else {
        this.newpasserror = 'This field may not be blank.'
      }
    },
    clickable () {
      this.SET_NAV(!this.nav)
    },
    setUser () {
      this.getUser = Object.assign(this.getUser, this.user)
    },
    returnImage (payload) {
      if (!_.isUndefined(payload)) {
        return process.env.API_URL + '' + _.replace(payload, '/api/media', '')
      }
    },
    uploadProfilePic () {
      this.uploadLoading = true
      let payload = {
        data_url: this.sample.generateDataUrl()
      }
      if (!_.isUndefined(this.sample.getChosenFile())) {
        this.$set(payload, 'id', this.getCurrentUser.id)
        this.$set(payload, 'file_name', _.replace(this.sample.getChosenFile().name, ' ', '_'))
      }
      this.PATCH_USER_PROFILE_PHOTO(payload).then(data => {
        this.uploadLoading = false
        this.dialog = false
        this.snackbar.status = true
        this.snackbar.message = 'Profile picture sucessfully updated!'
        this.snackbar.color = 'success'
      })
    }
  }
}
</script>

<style lang="stylus">
  .pic-update
    background: rgba(0,0,0,0.8) !important
    position: absolute !important
    color: white !important
    bottom: 0 !important
    width: 100% !important
    font-size: 10px !important
  .changepass
    position: absolute !important
    z-index: 1 !important
    width: 100%
    height: 100%
</style>
