<template>
  <v-flex lg12 md12 sm12 xs12 class="py-2" id="sample">
    <span class="email-header-text">Users</span>
    <v-card
      class="mt-3 mx-auto px-3 pb-3" 
      style="min-height: 50px; max-height: 400px"
      >
      <v-container
        class="scroll-y pa-0 ma-0 full-width-table-container scroll">
        <v-layout
          style="min-height: 100px; max-height: 320px;"
          > 
           <v-data-table
            :headers="headers"
            :items="items"
            class="elevation-1"
            style="width: 100%"
            hide-actions
          >
            <template v-slot:items="props">
              <td class="pointer">{{ props.item.fullname }}</td>
              <td class="pointer">{{ props.item.department }}</td>
            </template>
          </v-data-table>
        </v-layout>
      </v-container>
    </v-card>

    <snackbar 
      :message="snackbar.message" 
      :snackbar="snackbar.status" 
      :color="snackbar.color"/>

  </v-flex>
</template>

<script>
import Global from '~/plugins/mixins/global'

export default {
  data: () => ({
    headers: [
      {
        text: 'Fullname',
        value: 'quantity',
        sortable: false
      },
      {
        text: 'Department',
        value: 'name',
        sortable: false
      }
    ]
  }),
  watch: {
    'snackbar.status': {
      handler () {
        // Used from Global.js
        this.snackbarInterval()
      },
      deep: true
    }
  },
  mixins: [Global],
  mounted () {
    // this.setFilter()
  }
}
</script>
