<template>
  <v-flex lg12 md12 sm12 xs12 class="py-2">
    <span class="email-header-text">Position Information</span>
    <v-card class="px-3 py-4 my-3">
      <v-layout row wrap>

        <v-flex lg12 md12 sm12 xs12 px-2>
          <v-text-field
            label="Description"
            v-model="form.name"
            placeholder=" "
            regular
          >
            <template #label>
              Description<span class="red--text"><strong> *</strong></span>
            </template>
          </v-text-field>
        </v-flex>
        <v-flex lg12 md12 sm12 xs12 pt-2>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              depressed
              dark
              small
              color="mainColor"
              @click="">  
              SAVE
            </v-btn>
          </v-card-actions>
        </v-flex>

        <snackbar 
          :message="snackbar.message"
          :snackbar="snackbar.status" 
          :color="snackbar.color"/> 

      </v-layout>
    </v-card>
  </v-flex>
</template>

<script>
import Global from '~/plugins/mixins/global'
import Choices from '~/plugins/mixins/choices'

export default {
  data: () => ({
    form: {}
  }),
  watch: {
    'snackbar.status': {
      handler () {
        // Used from Global.js
        this.snackbarInterval()
      },
      deep: true
    }
  },
  mixins: [Global, Choices]
}
</script>
