<template>
  <v-flex lg12 xs12>
    <v-card class="ma-2 pa-2">
      <v-layout row wrap>
        <v-flex pa-2>
          <span class="title">Comments</span>
        </v-flex>
      </v-layout>
      <v-flex lg12 md12 sm12 xs12>
        <v-container
          id="scroll-target"
          class="scroll-y pa-0 ma-0 full-width-table-container scroll">
          <v-layout
            row wrap
            style="min-height: 100px; max-height: 250px;"
            > 
            <!-- <v-flex lg12 md12 sm12 xs12 py-2 v-for="(item, index) in form.feedbackmessage" :key="index">
              <v-list-tile avatar class="h-auto text-lg-right pl-3" v-if="(+item.user.id) === (+user.user.id)">
                <v-list-tile-content style="align-items: flex-end;">
                  <span style="background: #FCB831; border-radius: 10px" class="px-3 py-2">{{ item.comment }}</span>
                  <small style="color: #0000008a;">{{ item.creation_date | time }}</small>
                </v-list-tile-content>
                <v-list-tile-avatar>
                  <img :src="returnImage(`media/${item.user.profile.image}`)" style="width: 30px; height: 30px" aspect-ratio="1"/>
                </v-list-tile-avatar>
              </v-list-tile>
              <v-list-tile avatar class="h-auto" v-if="(+item.user.id) !== (+user.user.id)">
                <v-list-tile-avatar>
                  <img :src="returnImage(`media/${item.user.profile.image}`)" style="width: 30px; height: 30px" aspect-ratio="1"/>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <span style="background: #eee; border-radius: 10px" class="px-3 py-2">{{ item.comment }}</span>
                  <small style="color: #0000008a;">{{ item.creation_date | time }}</small>
                </v-list-tile-content>
              </v-list-tile>
            </v-flex> -->
          </v-layout>
        </v-container>
        <v-divider></v-divider>
        <v-flex lg12 md12 sm12 xs12 class="pa-1">
            <v-list-tile-content>
              <v-text-field
                placeholder="Write a comment . . . . ."
                class="elevation-10 w-100"
                @keyup.enter=""/>
            </v-list-tile-content>
          </v-list-tile>
        </v-flex>
      </v-flex>
    </v-card>
  </v-flex>
</template>