<template>
  <v-flex lg12 md12 sm12 xs12>
    <v-flex lg12 md12 sm12 xs12 class="pa-2">
      <v-card
        class="mx-auto pa-3"
      >
        <v-layout row wrap>
          <v-flex lg12 md12 sm12 xs12 pb-2>
            <v-checkbox
              label="Urgent"
            ></v-checkbox>
          </v-flex>
          <v-flex lg4 md4 sm6 xs12 px-2>
            <v-text-field
              label="Control Number"
              placeholder=" "
              regular
            ></v-text-field>
          </v-flex>
          <v-flex lg4 md4 sm6 xs12 px-2>
            <v-text-field
              label="Date"
              class="black-placeholder"
              :placeholder="$moment().format('MMMM DD, YYYY')"
              readonly
              regular
            ></v-text-field>
          </v-flex>
          <v-flex lg4 md4 sm6 xs12 px-2>
            <v-text-field
              label="Reference Number"
              placeholder="AUTO GENERATED"
              readonly
              regular
            ></v-text-field>
          </v-flex>
          <v-flex lg6 md6 sm6 xs12 px-2>
            <v-combobox
              label="Select Category"
              placeholder=" "
            ></v-combobox>
          </v-flex>
          <v-flex lg6 md6 sm6 xs12 px-2>
            <v-combobox
              label="Select Record"
              placeholder=" "
            ></v-combobox>
          </v-flex>
          <v-flex lg12 md12 sm12 xs12 px-2>
            <v-textarea
              label="Subject"
              rows="2"
              placeholder=" "
            ></v-textarea>
          </v-flex>

          <v-flex xs12 px-2 style="display: flex; flex-direction: row">
            <h3 class="pt-2 pb-3">RECIPIENTS</h3>
            <v-btn small color="mainColor">Add</v-btn>
          </v-flex>

          <v-flex xs12 px-2>
            <h3 class="pt-2 pb-3">ACTION NEEDED</h3>
          </v-flex>

          <v-flex lg4 md4 sm6 xs12 px-2>
            <v-checkbox
              label="Approve"
            ></v-checkbox>
            <v-checkbox
              label="Disapprove"
            ></v-checkbox>
          </v-flex>
          <v-flex lg4 md4 sm6 xs12 px-2>
            <v-checkbox
              label="Disseminate"
            ></v-checkbox>
            <v-checkbox
              label="For your information"
            ></v-checkbox>
          </v-flex>
          <v-flex lg4 md4 sm6 xs12 px-2>
            <v-checkbox
              label="Comment / Feedback"
            ></v-checkbox>
            <v-checkbox
              label="Endorse"
            ></v-checkbox>
          </v-flex>
          <v-flex lg7 md7 sm12 xs12 px-2>
            <v-checkbox
              label="Investigate / Check and submit report w/ recommendation"
            ></v-checkbox>
          </v-flex>
          <v-flex lg5 md5 sm12 xs12 px-2>
            <v-checkbox
              label="Please represent City Mayor"
            ></v-checkbox>
          </v-flex>
          <v-flex lg3 md3 sm6 xs12 px-2>
            <v-checkbox
              label="File"
            ></v-checkbox>
          </v-flex>
          <v-flex lg3 md3 sm12 xs12 px-2>
            <v-checkbox
              label="Others"
            ></v-checkbox>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12 px-2>
            <v-text-field
              placeholder="Others (Please specify)"
              regular
            ></v-text-field>
          </v-flex>
          <v-flex lg12 md12 sm12 xs12 px-2>
            <v-textarea
              label="Summary"
              rows="2"
              placeholder=" "
            ></v-textarea>
          </v-flex>
          <v-flex lg4 md4 sm6 xs12 px-2>
            <v-combobox
              label="Signatory"
              placeholder=" "
            ></v-combobox>
          </v-flex>

          <v-flex lg12 md12 sm12 xs12>
            <v-layout row wrap>
            
              <route-attachments />
            
              <route-links />

              <route-comments />

            </v-layout>
          </v-flex>

          <v-flex xs12>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="mainColor"
                >
                  SAVE
                </v-btn>
              </v-card-actions>
          </v-flex>

          <v-dialog
            v-model="dialog"
            max-width="700"
          >
            <v-card>

              <v-card-text>
                <v-text-field
                  class="circle-edge"
                  label="Search User"
                  prepend-inner-icon="search"
                  solo
                ></v-text-field>
                {{ selected }}
                <v-list>
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-checkbox v-model="selectAll"/>
                    </v-list-tile-action>
                    <v-list-tile-content @click="">
                      <v-list-tile-title>Select All</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile v-for="(user) in users" :key="user.id">
                    <v-list-tile-action>
                      <v-checkbox v-model="selected" multiple :value="user"/>
                    </v-list-tile-action>
                    <v-list-tile-content @click="">
                      <v-list-tile-title>{{ user.name }}</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
              </v-card-text>

              <v-card-actions>

                <v-btn
                  color="green darken-1"
                  flat="flat"
                  @click="dialog = false"
                >
                  Close
                </v-btn>
                <v-spacer></v-spacer>

                <v-btn
                  color="mainColor"
                  @click="dialog = false"
                >
                  SAVE
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <snackbar   
            :message="snackbar.message" 
            :snackbar="snackbar.status" 
            :color="snackbar.color"/>

        </v-layout>
      </v-card>

    </v-flex>
  </v-flex>
</template>

<script>
  import Global from '~/plugins/mixins/global'
  import Error from '~/plugins/mixins/error_handling'

  export default {
    data: () => ({
      dialog: false,
      users: [
        { id: '1', name: 'Shad Jast', email: 'pfeffer.matt@yahoo.com' },
        { id: '2', name: 'Duane Metz', email: 'mohammad.ferry@yahoo.com' },
        { id: '3', name: 'Myah Kris', email: 'evolkman@hotmail.com' },
        { id: '4', name: 'Dr. Kamron Wunsch', email: 'lenora95@leannon.com' }
      ],
      selected: []
    }),
    mixins: [Error, Global],
    computed: {
      selectAll: {
        get () {
          return this.users ? this.selected.length === this.users.length : false
        },
        set (value) {
          let selected = []
          if (value) {
            this.users.forEach(function (user) {
              selected.push(user)
            })
          }
          this.selected = selected
        }
      }
    }
  }
</script>
